body {
    font-family: Arial, sans-serif;
}

.slider {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: none; /* Скрываем все слайды по умолчанию */
}

.slide.active {
    display: block; /* Показываем только активный слайд */
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}
